body {
    background-image:url(image/background.jpg);
}

#square1 {
    width: 200px;
    height: 23px;
    background: #ffffff;
    position: relative;
    top: -205px;
    left: 300px;
    font-family: sans-serif;
}

#square2 {
    width: 200px;
    height: 23px;
    background: #ffffff;
    position: relative;
    top: -230px;
    left: 550px;
    font-family: sans-serif;
}

#square3 {
    width: 200px;
    height: 23px;
    background: #ffffff;
    position: relative;
    top: -253px;
    left: 800px;
    font-family: sans-serif;
}

#icon {
    position: relative;
    left: 1685px;
    top: -275px;
}


#title {
    opacity: 46%;
    position: relative;
    left: 700px;
    top: -250px;
    font-size: 150px;
}

#white {
    width: 1884px;
    height: 280px;
    background: #ffffff;
    position: relative;
    top: -200px;
    left: -20px;
}


#up {
    width: 700px;
    height: 300px;
}

#menu {
    width: 1000px;
    height: 500px;
}

* {
    max-height: 427px;
    max-width: 2100px;
}

#alchool1 {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -745px;
    left: 20px;
}

#alchool2 {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -715px;
    left: 20px;
}

#alchool3 {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -1245px;
    left: 980px;
}

#alchool4 {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -1215px;
    left: 980px;
}

#img {
    width: 1800px;
    height: 100px;
    position: relative;
    top: -1450px;
}

#alc1 {
    width:240px;
    height: 200px;
    position: relative;
    left: 25px;
    top: -270px;
}

#alc2 {
    width:240px;
    height: 200px;
    position: relative;
    left: -335px;
    top: 12px;
}

#alc3 {
    width:240px;
    height: 200px;
    position: relative;
    left: 265px;
    top:  -270px;
}

#alc4 {
    width:240px;
    height: 200px;
    position: relative;
    left: -255px;
    top: 10px;
}

.a1 {
    top: -350px;
    left: 50px;
}

.a2 {
    top: -70px;
    left: -315px;
}

.a3 {
    top: -350px;
    left: 300px;
}

.a4 {
    top: -70px;
    left: -220px;
}

#name {
    position: relative;
    font-size: 50px;
}
