body {
    background-image:url(image/background.jpg);
}

#square1 {
    width: 200px;
    height: 23px;
    background: #ffffff;
    position: relative;
    top: -205px;
    left: 300px;
    font-family: sans-serif;
}

#square2 {
    width: 200px;
    height: 23px;
    background: #ffffff;
    position: relative;
    top: -230px;
    left: 550px;
    font-family: sans-serif;
}

#square3 {
    width: 200px;
    height: 23px;
    background: #ffffff;
    position: relative;
    top: -253px;
    left: 800px;
    font-family: sans-serif;
}

#icon {
    position: relative;
    left: 1685px;
    top: -275px;
}


#title {
    opacity: 46%;
    position: relative;
    left: 600px;
    top: -200px;
    font-size: 150px;
}

#white {
    width: 1884px;
    height: 400px;
    background: #ffffff;
    position: relative;
    top: -100px;
    left: -20px;
}

#zakus {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -450px;
    left: 20px;
}

#alcohool {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -700px;
    left: 520px;
}

#drink {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -950px;
    left: 1020px;
}

#hot {
    width: 250px;
    height: 250px;
    background: lightgray;
    position: relative;
    top: -1200px;
    left: 1520px;
}


#zak {
    width:400px;
    height: 246px;
    position: relative;
    left: -55px;
}

#alc {
    width: 350px;
    height: 210px;
    position: relative;
    top: -20px;
    left:-90px;
}

#drk {
    width: 350px;
    height: 210px;
    position: relative;
    top: -20px;
    left: -170px;
}

#ht {
    width: 250px;
    height: 170px;
    position: relative;
    top: -220px;
    left: 1520px;
}

#img {
    width: 1800px;
    height: 100px;
    position: relative;
    top: -1450px;
}

#up {
    width: 700px;
    height: 300px;
}

#menu {
    width: 1000px;
    height: 500;
}

* {
    max-height: 427px;
    max-width: 2100px;
}

#name {
    position: relative;
    font-size: 50px;
}

.za {
    top: 50px;
    left: -350px;
}

.a {
    top: 50px;
    left: -390px;
}

.nap {
    top: 50px;
    left: -440px;
}

.het {
    top: -130px;
    left: 1315px;
}
